# MongoDB connection URI
MONGO_URI=mongodb+srv://mansiashwinprabhu_db_user:mansiingarden@cluster0.rayxz6v.mongodb.net/EventManagerDB?retryWrites=true&w=majority&appName=Cluster0

# Server port
PORT=3000
